@model ComplianceAuditWeb.Models.ListOfGroupCompanies

@{
    ViewBag.Title = "";
}
<h2 class="ML15"></h2>
<ul class="breadcrumb ML15">
    <li><a href=""></a></li>
    <li></li>
</ul>
<div class="mid_content_sec">
    @using (Html.BeginForm())
    {
        <div class="col-xs-10 subSelect ">
            <div class="input-field">

                @Html.Label("Group Company")
                @Html.DropDownListFor(model => model.GroupCompanyID, Model.GroupCompaniesList, new { @onchange = "this.form.submit()", @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>
    }
    </div>


