@model ComplianceAuditWeb.Models.ListOfGroupCompanies

@{
    ViewBag.Title = "";
}
@section scripts{
    <script language="javascript" type="text/javascript">

    function GetCompany(_Groupcompid) {
    var procemessage = "<option value='0'> Please wait...</option>";
    $("#CompanyID").html(procemessage).show();
    var url = "/Common/getcompany";

    $.ajax({
    url: url,
    data: { groupcompid: _Groupcompid },
    cache: false,
    type: "POST",
    success: function (data) {
    var markup = "<option value='0'>Select Company</option>";
    for (var x = 0; x < data.length; x++) {
    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
    }
    $("#CompanyID").html(markup).show();
    },
    error: function (reponse) {
    alert("error : " + reponse);
    }
    });

    }





    </script>

}

<h2 class="ML15"></h2>
<ul class="breadcrumb ML15">
    <li><a href=""></a></li>
    <li></li>
</ul>
<div class="mid_content_sec">
    @using (Html.BeginForm())
    {
        <div class="col-xs-10 subSelect ">
            <div class="input-field">

                @Html.Label("Group Company")
                @Html.DropDownListFor(model => model.GroupCompanyID, Model.GroupCompaniesList, new { @onchange = "this.form.submit()", @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>

        <div class="col-xs-10 subSelect ">
            <div class="input-field">

                @Html.Label("Company")
                @Html.DropDownListFor(model => model.CompanyID, Model.CompaniesList, new { @onchange = "this.form.submit()", @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>
    }
</div>




