@model ComplianceAuditWeb.Models.OrganizationViewModel
@{
    ViewBag.Title = "Compliance Auditing";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <div>

                @*@Html.LabelFor(m => m.CountryList);
                    @Html.DropDownList("Country", Model.CountryList as SelectList);*@


                @*@Html.DropDownListFor(m => m.CountryList,(IEnumerable<SelectListItem>) ViewBag.CountryList, "-- Select Country--" );*@

                @Html.Partial("_Organization", Model);
            </div>
        </div>
    </div>
}

