@model ComplianceAuditWeb.Models.OrganizationViewModel

@{
    ViewBag.Title = "UpdateGroupCompany";
}

<h2>UpdateGroupCompany</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>OrganizationViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <div >

                @*@Html.LabelFor(m => m.organization.Is_Active);
                @Html.CheckBoxFor(m => m.organization.Is_Active);*@





                @Html.Partial("_Organization", Model);
            </div>
        </div>
    </div>
}





