
@{
    ViewBag.Title = "ComplianceAuditing";
}
<ul class="breadcrumb ML15">
    <li><a href="">Dashboard</a></li>
    <li> Assigned Vendors</li>
</ul>
    <h2>Assigned Vendors</h2>
<center>
    @ViewBag.Message
</center>

