    @if (TempData["Success"] != null)
    {
<center>
    <p class="alert alert-success" style="width:1000px" id=" successMessage">@TempData["VendorName"]
    vendor to branch  @TempData["BranchName"] 
     TempData["Assigned"]</p>
</center>
    }
