@model ComplianceAuditWeb.Models.AuditentryViewModel

@section scripts{
    <link href="~/Content/assets/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/assets/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="~/Content/assets/jquery-ui-1.12.1.custom/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/free-jqGrid/jquery.jqgrid.min.js"></script>
    <style>
        tr.jqgrow {
            height: 80px;
        }        
    </style>

    <script>
        //<![CDATA[

        $(function () {         
            "use strict";
            $("#grid").jqGrid({
                url: "/ManageAudit/GetAuditData/",                
                datatype: "json",
                colNames: ['ID','compliance_Xref_id','Compliance Title', 'Description', 'Details', 'Applicability', 'Periodicity of Activity', 'Start Date', 'End Date', 'Compliance Status',
                    'Risk Category', 'Effect of Non-compliance', 'Date of Audit', 'Followup audit date', 'Auditor Remarks', 'Evidences/Supportives', 'Actual_Date', 'Due Date'],
                colModel: [
                    { key: true, hidden: true, name: 'ID' },
                    { key: false, hidden: true, name: 'compliance_Xref_id', editable: true },
                    { name: "Compliance_Title", frozen: true },
                    { name: "Description", edittype: "textarea", editoptions: { rows: "4", cols: "20" }, height: 250 },
                    { name: "Details", edittype: "textarea", editoptions: { rows: "4", cols: "20" } },
                    {
                        name: "Applicability", editable: true, align: 'center', edittype: 'checkbox', editoptions: { value: 'Yes:No' }
                    },
                    { name: "Periodicity" },
                    {
                        name: "Start_Date", editable: true
                    },
                    {
                        name: "End_Date", editable: true, formatter: 'date', formatoptions: { newformat: 'd/m/Y' }
                    },
                    { name: "Audit_Status", editable: true, edittype: "select", editoptions: { value: "Compliance:Compliance;Non-Compliance:Non-Compliance;Partially complianced:Partially Complianced;Not Applicable:Not Applicable" } },
                    { name: "Risk_Category", editable: true, edittype: "select", editoptions: { value: "High:High;Medium:Medium;Low:Low" } },
                    { name: "Non_compliance", edittype: "textarea", editoptions: { rows: "4", cols: "20" } },
                    { name: "Audit_Date", formatoptions: { newformat: 'd/m/Y' } },
                    { name: "Audit_Followup_Date", editable: true, formatoptions: { newformat: 'd/m/Y' } },
                    { name: "Audit_Remarks", editable: true, edittype: "textarea", editoptions: { rows: "4", cols: "20" } },
                    {
                        name: "Evidences", editable: true, edittype: 'file',
                        editoptions: {
                            enctype: "multipart/form-data"
                    },
                    },
                    { name: "Actual_Date", editable: true, formatter:'date', formatoptions: { newformat: 'd/m/Y' } },
                    { name: "Due_Date", editable: true, formatoptions: { newformat: 'd/m/Y' } }
                ],
                postData: { actid: $("#actid").val() },
                editurl: "/ManageAudit/EditAuditdata",
                caption: "Input Types",
                viewrecords: true,
                rowNum: 16,
                width: 1250,
                rowList: [10, 20, 30],
                pager: '#pager12',
                shrinkToFit: false,
                caption: "Audit Entry",
                emptyrecords: 'No Records are Available to Display',
                height: 300,
                onSelectRow: editRow
            });
            jQuery("#grid").jqGrid('setFrozenColumns');
            //jQuery("#grid").jqGrid('navGrid', '#pager12', { add: false, edit: false, del: false });
        });
        //]]>

        function changeact(_id, _name) {
            $("ActName").text = _name;
            //_actid = _id;
            $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
            return true;
        }

        function pickdates(id) {
            jQuery("#"+id+"Start_Date", "#grid").datepicker({ dateFormat: "yy-mm-dd" });
        }
        var lastSelection;

        function editRow(id) {
            if (id && id !== lastSelection) {
                var grid = $("#grid");
                grid.jqGrid('restoreRow', lastSelection);
                grid.jqGrid('editRow', id, {
                    keys: true,                    
                    onEnter: function (rowid, options, event) {
                        if (confirm("Save the row with ID: " + rowid) === true) {
                            $(this).jqGrid("saveRow", rowid, options);
                        }
                    }
                });
                lastSelection = id;
            }
        }
    </script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}

<br />
@using (Html.BeginForm())
{
    <div id="tabs">
        <ul class="nav nav-tabs nav-justified">
            @foreach (var item in Model.ActList)
            {
                <li><a href='javascript:changeact(@item.Value,@item.Text)'>@item.Text</a></li>
            }
        </ul>
    </div>
    @Html.HiddenFor(model => model.actid)
    <div id="tab1danger">
        @Html.Display("ActName")
        <table id="grid"></table>
        <div id="pager12"></div>
    </div>


}
