
@*@section menupanel
{*@
    <div class="toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="left_panel">
        <div class="top_panel">
            <h3>
                Satya Prakash<br />
                <span>satyaprakash@email.com</span>
            </h3>
            <p><a href="#"><a href="#">Logout</a></p>
        </div>

        <ul>
            <li><a href="#">Manage Company <span class="iconnew"><i class=""><img src="images/about_icon.png" alt="" /></i></span></a></li>
            <li><a href="#">Acts & Rules <span class="iconnew"><i class=""><img src="images/product_icon.png" alt="" /></i></span></a></li>
            <li><a href="#">Auditing <span class="iconnew"><i class=""><img src="images/settings_icon.png" alt="" /></i></span></a></li>
            <li><a href="#">Administration <span class="iconnew"><i class=""><img src="images/about_icon.png" alt="" /></i></span></a></li>
            <li><a href="#">Support <span class="iconnew"><i class=""><img src="images/contact_icon.png" alt="" /></i></span></a></li>
            <li><a href="#">Reports <span class="iconnew"><i class=""><img src="images/help_icon.png" alt="" /></i></span></a></li>
        </ul>

    </div>
@*}*@
