@model ComplianceAuditWeb.Models.AuditViewModel
@{
    @*Layout = "~/Views/Shared/_Layout1.cshtml";*@
}

@section scripts{

    <script language="javascript" type="text/javascript">
        function GetBranch(_CompanyId) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#complianceAudit_Org_Hier_Id").html(procemessage).show();
            var url = "/Common/getbranch";
           
            $.ajax({
                url: url,
               
                data: { compid: _CompanyId },
                
        cache: false,
        type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select Branch</option>";
                    for (var x = 0; x < data.length; x++) {
            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
        }
                    $("#complianceAudit_Org_Hier_Id").html(markup).show();
    },
                error: function (reponse) {
            alert("error : " + reponse);
                }
    });

}
</script>
    }


    @Html.Label("Company")
    @Html.DropDownListFor(m => m.complianceAudit.Org_Hier_Id, Model.MappedCompany, new { @class = "inputMaterial ui - autocomplete - input", @onchange = "GetBranch(this.value)" });





    @Html.Label("Branch");
    @Html.DropDownListFor(m => m.complianceAudit.Org_Hier_Id, Model.MappedBranch);
